.Pag-principal {
  padding-top: 10%;
  /* align-items: center; */
  justify-content: center;
  /* display: flex; */
}

body {
  background-image: url(../recursos/Mainbg.jpg);
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
  background-attachment: fixed;
}

.Pag-principal h1 {
  font-family: 'Trebuchet MS';
  font-size: 4em;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid div {
  background: rgba(255, 255, 255, 0.5);
  margin: auto;


}