* {
  box-sizing: border-box;
}

.bot{ 
  color: white;
  font-size: 17px;
  background: #333;
  border-radius: 10px;
  border: 3px solid rgb(0, 0, 0);
}
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 10px;
  background: #fefefe;
  background-image:url(../recursos/Mainbg.jpg)

} 

form{
  padding:30px;
  background-color: #efefef; 
  width: 300px;
  color:rgb(108, 108, 108);
  border-radius: 3px;
  margin:0 auto;
  font-size: 15px;
}
input{
  outline: none;
  border:0;
}
.field{
  border:solid 1px #ccc;
  padding: 10px;
  width: 200px;
}
.field:focus{
  border-color: #18A383;
}

.productos{
  background-color: rgb(108, 108, 108,0.5);
  padding:10px;
  margin-bottom:15px;
  border-radius:10px;
}
.vista{
  background-color:rgb(108,108,108,0.5);
  padding:10px;
}
.vista h2{
  text-align: center;
}

.header {
  background-image:url(../recursos/banner.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;
  padding: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}


.topnav {
  overflow: hidden;
  background-color: rgb(134, 127, 113);
  border-bottom-left-radius: 15px;
  
}


.topnav p {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.topnav p:hover {
  background-color: rgb(172, 142, 78);
  color: black;
}


.leftcolumn {   
  float: left;
  width: 75%;
}


.rightcolumn {
  float: left;
  width: 25%;
  background-color: #ddd;
  padding-left: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}


.foto{
  margin-top: 20px;
  
}


.card {
  padding: 20px;
  margin-top: 20px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}


.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
  overflow: hidden;
  border-radius: 10px;
}

.rightAlign{
  float: right;
}


@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}
.owner{
  color: green;
}


@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
